.userListBox {
  border: 2px solid black;
}

.userListBox > tr > td > img {
  height: 100px;
  width: 100px;
}

.userListMap {
  border: 1px solid lightseagreen;
}

.userListMap > button {
  font-size: 10px;
}

.favCoinListBox > p  {
  background-color: yellowgreen;
  border: 2px solid black;
}

.imageBox {
  background-color: brown;
}