.userListBox {
  border: 2px solid black;
}

.userListMap {
  border: 5px solid lightseagreen;
  
}

.favCoinListBox > p  {
  background-color: yellowgreen;
  border: 2px solid black;
}

.imageBox {
  background-color: brown;
}