

.changeprice24Box {
  animation-name: changeprice24Box;
  animation-duration: 1s;
  
}

.priceBox {
 
  border-radius: 5%;
  background-color: #f5f5f5;
}

.highPriceBox {
  color: black;
  background-color: #f5f5f5;
  border-radius: 5%;
  animation-name: priceBoxhighPriceBox;
  animation-duration: 10s
}




.lowPriceBox {
  color: black;
  border-radius: 5%;
  background-color: #f5f5f5;
  animation-name: priceBoxlowPriceBox;
  animation-duration: 10s
}


@keyframes priceBoxhighPriceBox {
  from {
    background-color: rgb(252, 6, 6);
    
  }
  to {
    background-color: #f5f5f5;
  }
}

@keyframes priceBoxlowPriceBox {
  from {
    background-color: rgb(0, 0, 0);
    
  }
  to {
    background-color: #f5f5f5;
  }
}


@keyframes changeprice24Box {
  from {
    background-color: green;
  }
  to {
    background-color: white;
  }
}
