.coinListBox {
  border: 1px solid lightblue;
  display: inline-block;
  margin-left: 40px;
  margin-top: 5px;
}

.wobble-hor-bottom {
	animation: wobble-hor-bottom 0.8s both;
}

#hoverImage {
  margin: 5px;
} 

#hoverImage:hover {
  transform: skew(-10deg);
  animation-duration: 1s;
}
