
.navbarBox{
  background-color: #1c1f21;
}

.missionSectionBox {

  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
  height: 500px;
  color: white;
}


.missionSectionBox, .header, .row {
  background-color: #1c1f21;
}


#card {
  border: 1px solid blue;
  width: 265px;
  height: 420px;
  margin: 2px;
  display: inline-block;
  background-color: #1c1f21;
}


.card-body {
  padding: 0px;
  color: white;
}

.cardbody {
  /* border: 1px solid rgb(77, 77, 64); */
  overflow: hidden;
  text-overflow: ellipsis;
  height: 150px;
  width: 260px;
  padding: 5px;
}

.cardTitleBox {
  /* border: 2px solid rebeccapurple; */
  height: 100px;
  overflow: hidden;
  color:green;
  padding: 5px;
}

.cardImg {
  /* border: 2px solid red; */
  max-width: 100px;
  height: 100px;
  margin-left: 85px;
}





.headerBox > p {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  background-color: darkslategrey;
}


.mainBox {
  background-color: #1c1f21;
}

/* .currentTrendingBox {
  border: 2px solid red;
  display: inline-block;
  padding: 10px;
  margin: 10px;
}
 */

.topTrendingCryptoBTCBox {
  border: 2px solid blue;
  margin-bottom: 5px;
}

.topTrendingCryptoZECBox {
  border: 2px solid red;
  margin-bottom: 5px;
}

.topTrendingCryptoETHBox {
  border: 2px solid red;
  margin-bottom: 5px;
}



/* 

.coinapiBTC > p{
  border: 5px solid rgb(134, 26, 26);
  color: white;
  margin-left: 150px;
  display: inline-block;
  text-align: center;
}

#coinapiBTC {
  border: 2px solid darkblue;
} */