.body1 {
  background-color: #1c1f21;
}

#card {
  border: 2px solid blue;
  width: 265px;
  height: 420px;
  margin: 2px;
  display: inline-block;
  background-color: #1c1f21;
}

.card-body {
  padding: 0px;
  color: white;
}

.cardbody {
  border: 2px solid yellow;
  /* white-space: nowrap;  */
  overflow: hidden;
  text-overflow: ellipsis;
  height: 150px;
  width: 260px
}

.cardTitleBox {
  border: 2px solid rebeccapurple;
  height: 100px;
  /* white-space: nowrap; */
  overflow: hidden;
  color: white;
}

.cardImg {
  border: 2px solid red;
  max-width: 100px;
  height: 100px;
  margin-left: 85px;
}

.entireCol {
  border: 2px solid purple;
  left: 30px;

}

.headerBox > h3{
  border: 2px solid yellow;
  text-align: center;
}

.mainBox {
  border: 2px solid darkgreen;
}

